

ul {
  list-style-type: none;
  padding: 0;
  background-color: white;
}

li {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #ff5d88;
  color: white;
  font-size: 1.5em;
  line-height: 1.5;
}


.startButton {
  width: 200px;
  margin: 0 auto;
  margin-top: 40px;
}


.btn {
  width: 200px;
  margin: 0 auto;
  margin-top: 40px;
}